.baner{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 20px ;
    align-items: center;

}

.image{
    width: calc(100% / 2);
    height: 300px;

}

@media (max-width:920px) {
    .baner{
        flex-wrap: wrap;
    }
    .image{
        width: 100%;
    }
    
}