.category{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

}

.category-item {
    width:15%;
    height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 10px;
    gap: 15px;

}


.category-item img {
    width:100%;
    height: 100px;
    object-fit: contain;
    
}
.category-title {
    color: var(--primary-color);
    
}
@media (max-width:1200px) {
    .category-item {
        width: calc(100% / 5);
    
    } 
}

@media (max-width:920px) {
    .category-item {
        width: calc(100% / 4);
    
    } 
}

@media (max-width:720px) {
    .category-item {
        width: calc(100% / 3);
    
    } 
}
@media (max-width:520px) {
    .category{
        
        align-items: center;
        justify-content: center;
    }
    .category-item {
        width: calc(90% );
    
    } 
}